.errInfo {
  text-align: center;
  margin-top: 5px;
}

.letter-space {
  .text-input {
    @extend .csFontColor1;
    letter-spacing: 7px;
  }
  font-weight: 600;
}

$light: #f4f4f4;

.csLoginScreen {
  background:#e3e3e3;
  border: #e3e3e3 10px solid;
  border-bottom: #f4f4f4 55px solid;
  border-top:none;
}

.csCenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.csLogo {
  @extend .csCenter;
  width: 50%;
  height: auto;
}

.csBottom {
  position: absolute;
  bottom: 0;
}

.csForgetPassword {
  @extend .csBottom;
  @extend .csCenter;
}