<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >
      <span>{{statusName | uppercase}} {{title | uppercase}}</span>
    </ion-title>
    <ion-buttons end>
      <button type="button" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="complaint-list csMargin">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let complaint of allRequests" class="new-list" #slidingItem>
      <a ion-item ion-item detail-push detail-none href="#" (click)="viewRequest(complaint)" [style.border-left-color]="complaint.statusColor">
        <nl-list-view [complaint]="complaint"></nl-list-view>
      </a>
      <ion-item-options side="right">
        <nl-comment-button [master]="master" [complaint]="complaint"></nl-comment-button>
        <nl-close-button [master]="master" [complaint]="complaint"></nl-close-button>
        <nl-edit-button [master]="master" [complaint]="complaint"></nl-edit-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="EmptyRequests">
      <h3> NO RECORD FOUND </h3>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
