<ion-header>
  <nl-modal-navbar [title]="title"></nl-modal-navbar>
</ion-header>

<ion-content class="view-complaint">
  <ion-card>
    <ion-item>
      <ion-note item-right><span [style.color]="complaint.statusColor"><ion-icon name="at" ></ion-icon> {{complaint.statusName}}</span></ion-note>
    </ion-item>
    <ion-item>
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span [style.color]="complaint.statusColor">Title</span>
      </div>
      <h2 class="csParagraph">
        {{complaint.title}}
      </h2>
    </ion-item>
    <ion-item>
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span [style.color]="complaint.statusColor">Against</span>
        <span [style.color]="complaint.statusColor">Description</span>
      </div>
      <h2 class="csParagraph">
        {{complaint.description}}
      </h2>
    </ion-item>
    <ion-item *ngIf="complaint.rca">
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span [style.color]="complaint.statusColor">Root Cause Analysis</span>
      </div>
      <h2 class="csParagraph">
        {{complaint.rca}}
      </h2>
    </ion-item>
    <ion-item *ngIf="complaint.closedOn">
      <ion-note item-left>
        <span [style.color]="complaint.statusColor">
            <b>Created at</b>
          </span>
        <br>
        <span style="color:black">
            {{complaint.createdAt  | amDateFormat: 'LL'}}
          </span>
      </ion-note>
      <ion-note item-right *ngIf="complaint.closedOn">
        <span [style.color]="complaint.statusColor">
          <b>Closed on</b>
          </span>
        <br>
        <span style="color:black">
          {{complaint.closedOn  | amDateFormat: 'LL'}}
          </span>
      </ion-note>
    </ion-item>
  </ion-card>
  <ion-list>
    <ion-card>
      <ion-item *ngIf="complaint.closedOn==null" class="csTransparent csBottom-card">
        <ion-icon name="body" [style.color]="complaint.statusColor"></ion-icon>
        <span [style.color]="complaint.statusColor" class="csBoldFont">Created at</span>
        <span item-right icon-left>
          <h5>{{complaint.createdAt  | amDateFormat: 'LL'}}</h5>
        </span>
      </ion-item>
      <ion-item *ngIf="complaint.againstCategoryName && !complaint.againstEmployeeName" class="csTransparent">
        <ion-icon name="construct" [style.color]="complaint.statusColor"></ion-icon>
        <span [style.color]="complaint.statusColor" class="csBoldFont">Against</span>
        <span item-right icon-left>
          <h5>{{complaint.againstCategoryName}}</h5>
        </span>
      </ion-item>
      <ion-item *ngIf="complaint.priorityName" class="csTransparent">
        <ion-icon name="pulse" [style.color]="complaint.statusColor"></ion-icon>
        <span [style.color]="complaint.statusColor" class="csBoldFont">Priority</span>
        <span item-right icon-left>
          <h5>{{complaint.priorityName}}</h5>
        </span>
      </ion-item>
      <ion-row>
        <ion-col>
          <button (click)="openReopenModal(complaint)" *ngIf="complaint.statusId === 4" ion-button icon-left clear small>
            <ion-icon name="ios-thumbs-down"></ion-icon>
            <div>Reopen</div>
          </button>
        </ion-col>
        <ion-col>
          <button (click)="openSatisfiedModal(complaint)" *ngIf="complaint.statusId === 4" ion-button icon-left clear small>
            <ion-icon name="ios-thumbs-up"></ion-icon>
            <div>Satisfied</div>
          </button>
        </ion-col>
        <ion-col>
          <button (click)="openCloseModal(complaint)" *ngIf="complaint.statusId != 6 && complaint.statusId != 4" ion-button icon-left clear small>
            <ion-icon name="md-close"></ion-icon>
            <div>Close</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
