// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "cornerStone.scss";

$transparent:transparent;
$icoSize : 2.4rem;
$full-width : 100%;
$full-height : 100%;
$errorColor : red;
$absolute : absolute;
$font-sm : 12px;
$font-md : 16px;
$font-lg : 18px;
$inherit : inherit;

// Custom Navbar Style
.navBtnRight {
  height: 2.0em;
  box-shadow: none;
  ion-icon {
    font-size: 2em;
  }
}

// .button-md.activated {
//   background-color: transparent;
//   box-shadow: none;
// }

.bigIcon{
  font-size: 120px;
    color: #6987ac;
    width: 103px;
    height: 114px;
}


.csBlueTheme{
  color: #fff;
}

.csBlueColor{
  @extend .csBackground;
  background-image: csBackgroundSvg('dashBoard.svg');
  font: {
    size: 19px;
    style: italic;
  }
}

ion-toolbar{
  .toolbar{
    .toolbar-ios{
      .toolbar-ios-primary {
        padding-top: 20px;
      }
    }
    .toolbar-md{
      .toolbar-md-primary {
        padding-top: 20px;
      }
    }
    .toolbar-wp{
      .toolbar-wp-primary {
        padding-top: 20px;
      }
    }
  }
}

/* CS Theme */
.csLightText{
  color:#fff;
}

.csStrip{
    background:$csStripColor;
}

.csBlueColor{
  background:$csDarkStrip;
  .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
  }
}

.csSelected{
  background:$color1;
  color:white;
}
