// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "cornerStone.scss";

$transparent:transparent;
$icoSize : 2.4rem;
$full-width : 100%;
$full-height : 100%;
$errorColor : red;
$absolute : absolute;
$font-sm : 12px;
$font-md : 16px;
$font-lg : 18px;
$inherit : inherit;

// Custom Navbar Style
.navBtnRight {
  height: 2.0em;
  box-shadow: none;
  ion-icon {
    font-size: 2em;
  }
}

// .button-md.activated {
//   background-color: transparent;
//   box-shadow: none;
// }

.bigIcon{
  font-size: 120px;
    color: #6987ac;
    width: 103px;
    height: 114px;
}


.csBlueTheme{
  color: #fff;
}

.csBlueColor{
  @extend .csBackground;
  background-image: csBackgroundSvg('dashBoard.svg');
  font: {
    size: 19px;
    style: italic;
  }
}

ion-toolbar{
  .toolbar{
    .toolbar-ios{
      .toolbar-ios-primary {
        padding-top: 20px;
      }
    }
    .toolbar-md{
      .toolbar-md-primary {
        padding-top: 20px;
      }
    }
    .toolbar-wp{
      .toolbar-wp-primary {
        padding-top: 20px;
      }
    }
  }
}

//-----------------------------C.S.---------------------

.setBottom {
    position: absolute;
    bottom: 5px;
}
.csWhiteText {
    color: white;
}
.csCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.csBorderWhite {
    border: solid 1px white;
    box-shadow: 0px 0px 8px #000000;
}
.csBackgroundGray {
    background: $csBackgroundColor;
}
.csCircle {
    border-radius: 100%;
    border: 3px solid #fff;
}
.csBoxShadow {
    box-shadow: 4px 4px 9px black;
}
.csFontColor1 {
    color: $color1 !important;
}
.csLoginLogo {
    @extend .csCenter;
    width: 30%;
}
.csWidth {
    width: 90%;
}
.csTransparent {
    background-color: rgba(255, 255, 255, 0) !important;
}
/*-----------*/

.csHeader {
    background-color: $color1;
    color: #fff !important;
}
.csLightHeader {
    background: $csGray;
    span {
        color: black;
    }
}
.action-sheet-ios,
.action-sheet-md,
.action-sheet-wp {
    .action-sheet-button {
        color: $color1 !important;
    }
}
.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary,
.label-ios[stacked],
.label-wp[stacked],
.label-md[stacked] {
    // color: #fd4545;
    font-size: 1.4rem;
}
.csParagraph {
    font-size: 1.4rem;
    white-space: pre-line;
    margin-top: 5px;
}
.csListCardIcon {
    margin-top: 32px !important;
}
.csFont {
    font-size: 1.4rem;
}
.csRight{
    float:right;
}
ion-content{
    @extend .csGrayBackground;
}
.item-ios{
    font-size:1.4rem !important;
}
.csBold{
  font-weight: bold;
}

//-----------------------------C.S.---------------------

.setBottom {
    position: absolute;
    bottom: 5px;
}
.csWhiteText {
    color: white;
}
.csCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.csBorderWhite {
    border: solid 1px white;
    box-shadow: 0px 0px 8px #000000;
}
.csBackgroundGray {
    background: $csBackgroundColor;
}
.csCircle {
    border-radius: 100%;
    border: 3px solid #fff;
}
.csBoxShadow {
    box-shadow: 4px 4px 9px black;
}
.csFontColor1 {
    color: $color1 !important;
}
.csLoginLogo {
    @extend .csCenter;
    width: 30%;
}
.csWidth {
    width: 90%;
}
.csTransparent {
    background-color: rgba(255, 255, 255, 0) !important;
}
/*-----------*/

.csHeader {
    background-color: $color1;
    color: #fff !important;
}
.csLightHeader {
    background: $csGray;
    span {
        color: black;
    }
}
.action-sheet-ios,
.action-sheet-md,
.action-sheet-wp {
    .action-sheet-button {
        color: $color1 !important;
    }
}
.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary,
.label-ios[stacked],
.label-wp[stacked],
.label-md[stacked] {
    // color: #fd4545;
    font-size: 1.4rem;
}
.csParagraph {
    font-size: 1.4rem;
    white-space: pre-line;
    margin-top: 5px;
}
.csListCardIcon {
    margin-top: 32px !important;
}
.csFont {
    font-size: 1.4rem;
}
.csRight{
    float:right;
}
ion-content{
    @extend .csGrayBackground;
}
.item-ios{
    font-size:1.4rem !important;
}
.csBold{
  font-weight: bold;
}