/* <=============================== Title: Corner Stone Theme Website: http://cornerstone.pk Date: 21/12/2016 =================================> */
/* =============================== Colors: ================================== */

$csLightHeaderColor: #e3e0e0;
/* ===============================
    Colors:
================================== */

.setBottom {
    position: absolute;
    bottom: 5px;
}
.csWhiteText {
    color: white;
}
.csCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.csBackground {
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
}
.csBorderWhite {
    border: solid 1px white;
    box-shadow: 0px 0px 8px #000000;
}
.csFillBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.csMainBackground {
    @extend .csFillBackground;
    @extend .csWhiteText;
    background-image: csBackgroundSvg('gBoard.svg');
}
.csBackgroundGray {
    background: $csBackgroundColor;
}
.csFull {
    width: 100% !important;
}
.csCircle {
    border-radius: 100%;
    border: 3px solid #fff;
}
.csBoxShadow {
    box-shadow: 4px 4px 9px black;
}
.csCardHeader {
    background-color: #818181;
    color: #fff;
}
.csClearButton {
    font-style: italic;
    color: $color1;
}
.csFontColor1 {
    color: $color1;
}
.csTransclusentButton {
    @extend .csClearButton;
    background-color: $csTransparentWhite;
}
.csInput {
    color: $color1 !important;
}
.csInputIcon {
    font-size: $csInputIconSize !important;
    margin-bottom: -5px !important;
}
.csLoginLogo {
    @extend .csCenter;
    width: 30%;
}
.csWidth {
    width: 90%;
}
.csTransparent {
    background-color: rgba(255, 255, 255, 0) !important;
}
.csLoginBox {
    background-color: rgba(255, 255, 255, 0.75) !important;
}
.marginTop {
    margin-top: $csTop;
}
/*-----------*/

.csHeader {
    background-color: $color1;
    color: #fff !important;
}
.csLightHeader {
    background: $csLightHeaderColor;
    span {
        color: black;
    }
}
.toolbar-background-md,
toolbar-background-ios {
    background-color: $color1;
    color: white;
}
.action-sheet-ios,
.action-sheet-md,
.action-sheet-wp {
    .action-sheet-button {
        color: $color1;
    }
}
.toolbar-background-ios,
toolbar-background-wp,
toolbar-background-md {
    background: $color1 !important;
}
.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary,
.label-ios[stacked],
.label-wp[stacked],
.label-md[stacked] {
    // color: #fd4545;
    font-size: 1.5rem;
}
.csGrayBackground {
    background: $csBackgroundColor;
}
.csParagraph {
    font-size: 1.4rem;
    white-space: pre-line;
    margin-top: 5px;
}
.csListCardIcon {
    margin-top: 32px !important;
}
.csFont {
    font-size: 1.4rem;
}
.csBoldFont {
    font-size: 1.4rem;
    font-weight: bold;
}
.csRight{
    float:right;
}
ion-content{
    @extend .csGrayBackground;
}
.item-ios{
    font-size:1.4rem !important;
}
//Student Rating (Management)
.csRating{
    ion-item{
    p{
        color:black;
        text-align:center;
    }
    }
}
rating{
    color:$color1;
}
.csStudentName{
    text-align:center !important;
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios,
.header-md .toolbar-background-md, .footer-md .toolbar-background-md {
    border: none;
}
.no-comment{
    @extend .csCenter;
    text-align:center;
    margin-top:150px;
    width:100px;
    color:dimgray;
}
.csBigIcon{
    font-size: 2.2em;
}