.csEditButton{
  font-size: 25px;
  color: $csGreen;
}
.toolbar-title-ios , .toolbar-title-md , .toolbar-title-wp, .bar-button-default-wp, .bar-button-default-md, .bar-button-default-ios{
  color: white;
}
